body {
  background-color: #f4f9ff;
}

form {
  width: 100%;
}

.h3 {
  color: #0081C9;
}

.box-area {
  width: 930px;
}
.right-box {
  padding: 40px 30px 40px 40px;
}

.left-box {
  background: url("loginimage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -270px;
}

.caption {
  background-color: #00000053;
  width: 100%;
  padding: 16px;
}

.h-line {
  width: 100%;
  height: 2px;
  background-color: #999;
  border-radius: 20px;
}

.or small {
  overflow: visible;
}
input[type="checkbox"] {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .left-box img {
    display: none;
  }
  
  /* .left-box {
    background: #896df6;
  } */
  .caption {
    padding: 0;
    background-color: transparent;
  }
}
