body{
  font-family: 'Poppins', sans-serif;
}

.mainNavbar{
  background-color: #0081C9;
}

.brandlink{
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.navlink{
  text-decoration: none;
  color: white;
}

.bmihead{
  font-size: 2rem;
  color: #334155;
}