body{
  font-family: 'Poppins', sans-serif;
}

.mainNavbar{
  background-color: #0081C9;
}

.brandlink{
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.navlink{
  text-decoration: none;
  color: white;
}

.bmihead{
  font-size: 2rem;
  color: #334155;
}

.caption {
  color: #0081C9;
  font-size: 40px;
  font-weight: 600 !important;
  margin-top: 16px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 32px;
}

.card {
  margin: 16px; 
  border-radius: 10px;
  border: none!important;
  box-shadow: 0px 0px 5px black;
  width: 16rem;

}

.cardtitle {
  font-size: larger;
  font-weight: 700;
}

.card .card-img {
  border-radius: 15px;
  height: 200px;
  object-fit: cover;
  
}

.judulcard {
  margin-top: 20px;
}

.judulsatu {
  text-align: left;
  font-size: large;
  font-weight: 900;
  line-height: 1.2;
}

.judulsatudua{
  text-align: left;
  font-size: medium;
  font-weight: 300;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  margin: 20px 100px 20px 100px;
  font-size: 18px;
}

.text-center2 {
  margin-bottom: 100px;
  font-weight: 600;
  font-size: 18px;
}

.tengah-primary {
  color: #0081C9;
  font-size: 28px;
  font-weight: 600 !important;
}

.img{
  width: 25rem;
}